.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/backgrounds/home-page_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  .main {
    // height: calc(100vh - 116px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  /* Сity-cards styles start */
  .city-cards {
    display: flex;
    // height: 100%;
    padding-bottom: 30px;

    &__items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      justify-items: center;

      .item {
        padding: 25px 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

        &__img {
          width: 200px;
          height: 200px;
          object-position: top center;
          object-fit: cover;
        }

        &__title {
          font-family: 'Beryozki';
          font-size: 48px;
          line-height: 140%;
          text-align: center;
          color: #000000;
          margin: 0;
          padding: 10px 0 15px;
        }
      }
    }
  }

  /* Сity-cards styles end */
}

@media screen and (min-width: 550px) {
  .home-page {
    .city-cards {
      &__items {
        .item:nth-child(1) {
          transform: rotate(10deg);
        }

        .item:nth-child(2) {
          transform: rotate(-5deg);
        }

        .item:nth-child(4) {
          transform: rotate(-10deg);
        }

        .item:nth-child(6) {
          transform: rotate(10deg);
        }

        .item:hover {
          cursor: pointer;
          z-index: 5;
          transition: all 0.5s ease-in-out;
        }

        .item:nth-child(1):hover {
          transform: scale(1.1, 1.1) translate(10%, 10%);
        }

        .item:nth-child(2):hover {
          transform: scale(1.1, 1.1) translate(0, 10%);
        }

        .item:nth-child(3):hover {
          transform: scale(1.1, 1.1) translate(-10%, 10%);
        }

        .item:nth-child(4):hover {
          transform: scale(1.1, 1.1) translate(10%, -10%);
        }

        .item:nth-child(5):hover {
          transform: scale(1.1, 1.1) translate(0, -10%);
        }

        .item:nth-child(6):hover {
          transform: scale(1.1, 1.1) translate(-10%, -10%);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home-page {

    .city-cards {
      &__items {
        .item {
          padding: 20px 15px;

          &__img {
            width: 160px;
            height: 160px;
          }

          &__title {
            font-size: 40px;
            padding: 5px 0 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .home-page {

    .city-cards {
      &__items {
        .item {
          padding: 15px 10px;

          &__img {
            width: 140px;
            height: 140px;
          }

          &__title {
            font-size: 35px;
            padding: 5px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home-page {

    .city-cards {
      &__items {
        grid-template: repeat(1, 1fr)/repeat(6, 1fr);
        grid-column-gap: 20px;
        overflow: hidden;

        .item {
          padding: 25px 20px;

          &__img {
            width: 220px;
            height: 220px;
          }

          &__title {
            font-size: 48px;
            padding: 10px 0 15px;
          }
        }
      }
    }
  }
}