body{
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    position: relative;
}
.Rectangle1
{
    background-color: #F4A460;
    position: absolute;
    width: 100%;
    height: 330px;
}
.Rectangle2
{
    background-color: #C0C0C0;
    position: absolute;
    width: 300px;
    height: 330px;
    left: 60px;
    top: 0px;
}
.name
{
position: absolute;
width: 700px;
height: 60px;
left: 450px;
top: 30px;
color: black;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 44px;
}
.Rectangle5
{
position: absolute;
width: 670px;
height: 46px;
left: 380px;
top: 130px;

background-color:#C0C0C0;
}
.specialization
{
position: absolute;
width: 700px;
height: 300px;
left: 25px;
top: 0px;
color: black;
font-family: 'Helvetica';
font-style: normal;
font-weight: 35px;
font-size: 27px;
line-height: 5px;
}
.photo
{
position: absolute;
width: 228px;
height: 260px;
left: 0px;
top: 0px;
}
.phone
{
	position: absolute;
	width: 300px;
	height: 30px;
	left: 450px;
	top: 210px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400; 
	font-size: 20px;
	line-height: 0px;

	color: black;
}
.email
{
position: absolute;
width: 300px;
height: 42px;
left: 450px;
top: 250px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;

color: black;
}
.adres
{
position: absolute;
width: 400px;
height: 42px;
left: 850px;
top: 250px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 19px;

color: black;
}
.Rectangle3
{
position: absolute;
width: 300px;
height: 780px;
left: 60px;
top: 330px;

background: #C0C0C0;
}
.education 
{
position: absolute;
width: 246px;
height: 360px;
left: 26px;
top: 10px;
font-size: 19px;
line-height: 30px;
}
.list{
margin-left: -17px; 
}
.about{
color: #000;
font-size: 20px;
position: absolute;
width: 546px;
height: 414px;
left: 387px;
top: 50px;
}
.skills{
color: #000;
font-size: 20px;
position: absolute;
width: 546px;
height: 244px;
left: 387px;
top: 370px;
}
.shtml{
    color: #000;
    font-size: 20px;
    position: absolute;
    width: 546px;
    height: 84px;
    left: 67px;
    top: 40px;
}
.scss 
    {
        color: #000;
        font-size: 20px;
        position: absolute;
        width: 546px;
        height: 84px;
        left: 67px;
        top: 115px;
    }
.Rectangle4{
    background-color:#F4A460;
    position: absolute;
    width: 55px;
    height:100%;
    left: 1371px;
    top: 0px;
}
.icon
{ 
    position: absolute;
    width: 300px;
    height: 50px;
    left: 400px;
    top: 200px;
}
.icon2
{
	position: absolute;
	width: 300px;
	height: 30px;
	left: 400px;
	top: 250px;
}
.icon3
{
	position: absolute;
	width: 300px;
	height: 30px;
	left: 800px;
	top: 250px;
}