<main>
    <div class="card">
        <a [routerLink]="['/brest']">
            <img src="assets/foto/StartScreen/Brest.jpg" class="image">
            <img src="assets/foto/StartScreen/Brest.jpg" class="background">
            <div class="layer">
                <div class="info">
                    <p>Между Беловежской пущей и Брестской крепостью, на самой границе Беларуси и Польши, находится Брест – город с богатой и сложной историей, модными барами и очаровательными персонажами, вроде фонарщика, который по вечерам зажигает фонари на Советской. Изучать и открывать что-то новое в Бресте можно бесконечно.</p>
                    <h1>БРЕСТ</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="assets/Grodno.html">
            <img src="assets/foto/StartScreen/Grodno.png" class="image">
            <img src="assets/foto/StartScreen/Grodno.png" class="background">
            <div class="layer">
                <div class="info">
                    <p>Культурная столица Беларуси, столица беларусского католицизма, вторая столица Беларусской Народной Республики и третья столица Речи Посполитой, Гродно – город с узнаваемым лицом, пылким характером и тысячелетней  историей. Насыщенная культурная программа и лучшие заведения, которые позволят почувствовать силу места.</p>
                    <h1>ГОДНО</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="assets/Gomel.html">
            <img src="assets/foto/StartScreen/Gomel.png" class="image">
            <img src="assets/foto/StartScreen/Gomel.png" class="background">
            <div class="layer">
                <div class="info">
                    <p>Гомель – это тот город, где можно расслабиться и никуда не спешить. Неторопливо прогуляться по старой улице Советской с интересными памятниками архитектуры, перейти самый длинный пешеходный мост в стране или позагорать на большом городском пляже. В Гомеле есть множество уютных скверов, потаенных улиц и хороших заведений, а еще здесь довольно бурная культурная жизнь.</p>
                    <h1>ГОМЕЛЬ</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="assets/Mogilev.html">
            <img src="assets/foto/StartScreen/Mogilev.png" class="image">
            <img src="assets/foto/StartScreen/Mogilev.png" class="background">
            <div class="layer">
                <div class="info">
                    <p>Есть некая магия в том, чтобы рассказывать о Могилеве: с каждой историей он влюбляет в себя снова и снова. При всей его сегодняшней скромности, город мог стать столицей. С годами Могилев оброс городскими легендами, благо, почвы для них предостаточно.</p>
                    <h1>МОГИЛЁВ</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="assets/Vitebsk.html">
            <img src="assets/foto/StartScreen/Vitebsk.png" class="image">
            <img src="assets/foto/StartScreen/Vitebsk.png" class="background">
            <div class="layer">
                <div class="info">
                    <p>Витебск – родина Шагала и Цадкина. Это город на трех речках и пяти ландшафтных ярусах, куда едут за духом старого брик-стайла, уютом пешеходной улицы и концертами в небольших клубах. Когда-то Витебск защищал восточные границы Полоцкого княжества, Великого Княжества Литовского и Речи Посполитой.  В своем новом возрождении в начале ХХ века город поднял флаг с профилями Шагала и Малевича на нем и принялся создавать новый бренд: Витебск – это, конечно, город художников.</p>
                    <h1>ВИТЕБСК</h1>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a href="assets/Minsk.html">
            <img src="assets/foto/StartScreen/Minsk.png" class="image">
            <img src="assets/foto/StartScreen/Minsk.png" class="background">
            <div class="layer">
                <div class="info">
                    <p>Минск - столица и областной центр Минской области. Город предлагает туристам богатую культурную программу, разнообразные музеи, театры, парки и архитектурные достопримечательности, такие как Национальная библиотека, остров Траецкае Праця, Минский мир и другие.</p>
                    <h1>МИНСК</h1>
                </div>
            </div>
        </a>
    </div>
</main>