<div class="brest root">
    <div class="grid">
        <div class="group">
            <img class="decorator" src="./foto/Minsk/Задний фон 6.png" alt="alt text" />
            <div class="item">
                <div class="content_box12">
                    <div class="content_box11" style="--src:url(../foto/Minsk/Fon_1.png)"></div>
                    <div class="flex_row">
                        <div class="content_box8" style="--src:url(../assets/white_cathedral_in_leafy_setting.png)">
                            <div class="content_box5">
                                <h2 class="medium_title1">ПОЛОЦК</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/white_church_with_red_roof.png)">
                            <div class="content_box5">
                                <h2 class="medium_title11">ОРША</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/cathedral_with_golden_domes.png)">
                            <div class="content_box5">
                                <h2 class="medium_title11">ГЛУБОКОЕ</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/brick_church_reflection_in_water.png)">
                            <div class="content_box5">
                                <h2 class="medium_title13">ПОСТАВЫ</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_col1">
                    <div class="flex_col2">
                        <div class="flex_col3">
                            <div class="flex_row1">
                                <img class="image1" src="./assets/landscape_painting_in_gallery_icon.png" alt="alt text" />
                                <h1 class="hero_title3">Размещение</h1>
                            </div>
                            <div class="flex_col4">
                                <div class="flex_row2">
                                    <div class="flex_col5">
                                        <h1 class="title">"Flatcom"</h1>
                                        <h2 class="medium_title">
                                            Хостел "Flatcom" предоставляет своим гостям размещение в Минске. К услугам проживающих: парковка, скоростной интернет, 
                                            прокат велосипедов, трансфер, круглосуточная стойка регистрации, камера хранения, прачечная. Просторные комнаты, выполненные 
                                            в светлой цветовой гамме, оснащены всеми удобствами для проживания с комфортом. В распоряжении постояльцев будут: запирающиеся 
                                            шкафчики, письменный стол со стульями, диван, телевизор с плоским экраном.</div>
                                    <img class="image5" src="./foto/Minsk/Фото г.1..jpg" alt="alt text" />
                                </div>
                                <div class="flex_row3">
                                    <img class="image5" src="./foto/Minsk/Фото г.2..jpg" alt="alt text" />
                                    <div class="flex_col6">
                                        <h1 class="title1">У фонтана</h1>
                                        <h2 class="medium_title">
                                            Отель «У фонтана» находится Минске, Республика Беларусь, в 2,6 км от центра города и в 700 м от станции метро «Молодёжная». 
                                            На территории отеля есть баня, сауна, спа, бассейн. Для гостей доступна сеть Wi-Fi, автостоянка, пользование факсом и принтером.
                                            Номера оснащены спальным местом, своей ванной комнатой, будильником, телевизором с плоским экраном, шкаф для хранения вещей 
                                            и кабельное телевидение. Ежедневная уборка номеров. По запросу предоставляют детскую кроватку, утюг и гладильную доску.                                            </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex_col7">
                            <h1 class="hero_title31">Достопримечательности</h1>
                            <div class="flex_row4">
                                <div class="flex_col8">
                                    <h1 class="title">Минская ратуша</h1>
                                    <h2 class="medium_title">
                                        Городская ратуша — символ свободы. Она была построена в XVII веке, когда правитель Великого Княжества Литовского Александр 
                                        подарил горожанам Магдебургское право, которое позволяло минчанам учредить магистрат (орган самоуправления) и разместить его 
                                        в ратуше. Нововозведенное здание представляло собой белокаменную постройку в псевдоготическом стиле. Его украшали массивные 
                                        колонны, веранды с балясинами и башенная настройка под шпилем, в центре которой размещались часы. Когда Беларусь присоединилась 
                                        к России, Магдебургское право было упразднено, а в ратуше в разное время эксплуатировалась как суд, театр, музыкальная школа и 
                                        архив. В 1850-х по указу Николая I здание снесли по причине ветхости. Однако другие источники утверждают, что император не хотел, 
                                        чтобы что-либо напоминало минчанам об их былой свободе.</div>
                                <img class="image4" src="./foto/Minsk/Изображение д.1..jpg" alt="alt text" />
                            </div>
                            <div class="flex_row5">
                                <img class="image3" src="./foto/Minsk/Изображение д.2..jpg" alt="alt text" />
                                <div class="flex_col9">
                                    <h1 class="title">Костел Святого Симеона и Святой Елены</h1>
                                    <h2 class="medium_title">
                                        Католический храм был построен в начале XX века. Это краснокирпичное здание с высокими башнями и витражными окнами в народе 
                                        прозвали «Красным костелом». Огромный вклад в возведение католической достопримечательности внес минский дворянин и политик 
                                        Эдвард Войнилович, пожертвовавший на строительство крупную сумму. Единственное одолжение, о котором просил благодетель — это 
                                        назвать будущий храм в честь его покойных детей. Их у Эдварда было двое: сын Семен, умерший от скарлатины на 13 году жизни, 
                                        и 19-летняя дочь Елена, которую погубила пневмония. Просьба скорбящего отца была исполнена — костел освятили в честь Симеона и Елены.                                        </h2>
                                </div>
                            </div>
                            <div class="flex_row6">
                                <div class="flex_col9">
                                    <h1 class="title2">Национальная библиотека Беларуси</h1>
                                    <h2 class="medium_title">
                                        Здание библиотеки — одно из наиболее узнаваемых и запоминающихся в Минске. Оно выполнено в форме ромбокубооктаэдра — многогранника, 
                                        состоящего из кубов и треугольников. Общее число граней в нем достигает 26-ти. Остекленная постройка ассоциируется с кристаллом. 
                                        Это определение особенно подходит библиотеке в темное время суток, когда фасад озаряется призрачно-голубым светом. Автор проекта 
                                        неспроста выбрал для здания библиотеки форму кристалла. Так он хотел отобразить драгоценность и прочность знаний. В библиотеке 23 
                                        этажа, на которых располагаются читальные залы, зоны отдыха, лекционные аудитории, картинные галереи, музей библиотеки, а также 
                                        фитнесс-центр с сауной. На верхних этажах находятся смотровые площадки, доступные для посетителей.</h2>
                                </div>
                                <img class="cover2" src="./foto/Minsk/Изображение д.3..jpg" alt="alt text" />
                            </div>
                            <div class="flex_row6">
                                <img class="image2" src="./foto/Minsk/Изображение д.4..jpg" alt="alt text" />
                                <div class="flex_col10">
                                    <h1 class="title">Большой театр оперы и балета</h1>
                                    <h2 class="medium_title">
                                        Единственный в стране Большой театр расположен в помпезном здании работы выдающегося белорусского архитектора Иосифа Лангбарда. 
                                        Вдохновленный художник вложил в проект всю душу и талант и создал истинный шедевр архитектуры. Белоснежное строение в стиле 
                                        постконструктивизма выделяется нестандартной формой и изысканными украшениями в виде бронзовых статуй древнегреческих богов, 
                                        покровительствующих искусству. Неземной красоты театр находится в соответствующем его облику месте – на просторной площади 
                                        Парижской Коммуны. Прямо перед зданием в воздух поднимаются струи большого фонтана, переходящего в декоративный водоем.                                        </h2>
                                </div>
                            </div>
                            <div class="flex_row6">
                                <div class="flex_col11">
                                    <h1 class="title3">Ворота Минска</h1>
                                    <h2 class="medium_title">
                                        Это одна из визитных карточек города, два величественных здания в стиле сталинского ампира на Привокзальной площади. На них 
                                        можно увидеть множество скульптур (часть из них была реконструирована в начале 2000-х), а также герб БССР и немецкие часы, 
                                        циферблат которых достигает 3,5 метров в диаметре. Это самые большие часы в Беларуси, в стране они появились в качестве трофея 
                                        во время Второй мировой войны. Популярность башен и то, как гармонично они вписались в окружающую обстановку, — несомненно, заслуга 
                                        архитектора, который смог объединить в них и черты эпохи, во время которой были построены, и отсылку к далекому прошлому города, когда 
                                        на въезде в замчище несколько веков назад были установлены массивные ворота.</div>
                                <img class="cover2" src="./foto/Minsk/Изображение д.5..jpg" alt="alt text" />
                            </div>
                        </div>
                    </div>
                    <div class="content_box2" style="--src:url(../assets/14dd9fd9c669d8caaba060725e5f06fb.png)">
                        <div class="flex_col12">
                            <div class="flex_row7">
                                <div class="content_box" style="--src:url(../assets/fb3f3ccef198a1dcce658e9a95118027.png)">
                                    <img class="image" src="./foto/Minsk/Group 7.jpg" alt="alt text" />
                                </div>
                                <div class="flex_col13">
                                    <h1 class="title4">Красный дворик</h1>
                                    <h2 class="medium_title2">
                                        Красный дворик Минска — необычное место, в котором витает дух 19 столетия. Небольшой уголок, затерянный в белорусской столице, 
                                        найти не так просто. К нему ведут только одни решетчатые ворота черного цвета. Мощная конструкция на первый взгляд ничем не 
                                        примечательна. Но, если вы прогуливаетесь вдоль улицы, обязательно загляните в эти ворота, чтобы, словно по мановению волшебной 
                                        палочки, перенестись на 100 лет назад. Необычный красный цвет строений привлекает взгляды. Здесь получаются очень красивые и 
                                        оригинальные фотографии.  Туристы могут приобрести здесь изготовленную вручную бижутерию, попасть на выставку местного мастера кисти 
                                        и пера, организовать классную фотосессию. 
                                </div>
                            </div>
                            <div class="flex_row3">
                                <div class="flex_col14">
                                    <h1 class="title5">Арт пространство Октябрьская</h1>
                                    <h2 class="medium_title2">
                                        В народе Октябрьскую иногда называют Хипстерштрассе (улица хипстеров), определяя ее как минский Берлин. Долгое время тут работали 
                                        выставочные пространства, проходили спектакли и перформансы, а любимые туристами и минчанами граффити возникли из-за фестиваля 
                                        стрит-арта Vulitsa Brasil: в воздухе витала энергия творчества. Сейчас все изменилось. После прошлого лета и закрытия Ok16, 
                                        спонсировавшегося Белгазпромбанком, с улицы исчезло много заведений и арт-сообщество. Шли споры, умерла ли улица, но стало очевидным, 
                                        что нет. Бар «Хулиган» стал Untitled, Лаўка, ДЭПО и Underdog переоткрылись, начала активно оживать часть улицы с другой стороны реки. 
                                        Правда, аудитория изменилась, стала более молодой и безбашенной, но, может, просто выросло еще одно поколение тусовщиков.                                    </div>
                                <div class="content_box" style="--src:url(../assets/fb3f3ccef198a1dcce658e9a95118027.png)">
                                    <img class="image" src="./foto/Minsk/Group 8.jpg" alt="alt text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rect"></div>
    <img class="image11" src="./assets/camera_icon_with_mountains.png" alt="alt text" />
</div>
