<link rel="stylesheet" type="text/css" href="/css/Header.css" />

<div class="header header__content_box1">
  <div class="header__content_box11">
    <img class="header__cover" src="/assets/riverfront_architecture_at_dusk.png" alt="alt text" />
    <div class="header__foreground1">
      <img class="header__image1" src="/assets/blue_gradient_background.png" alt="alt text" />
      <h1 class="header__hero_title">ВИТЕБСК</h1>
      <h1 class="header__hero_title1_box">
          ><span class="header__hero_title1_span0">Мир</span
          ><span class="header__hero_title1_span1"> слишком велик, чтобы </span
          ><span class="header__hero_title1_span2">сидеть</span
          ><span class="header__hero_title1_span3"> на месте </span>
      </h1>
    </div>
  </div>
</div>
