<link rel="stylesheet" type="text/css" href="/css/UntitledPage.css" />

<main class="untitled-page untitled-page__main">
  <section class="untitled-page__section1">
    <div class="untitled-page__flex_col">
      <div class="untitled-page__flex_row">
        <img class="untitled-page__image4" src="/assets/camera_icon_with_mountains.png" alt="alt text" />
        <h1 class="untitled-page__hero_title2">Достопримечательности</h1>
      </div>
      <div class="untitled-page__flex_col1">
        <div class="untitled-page__flex_row1">
          <div class="untitled-page__flex_col2">
            <h1 class="untitled-page__hero_title3">Успенский собор</h1>
            <h2 class="untitled-page__medium_title">
              Археологи выносят предположение, что на месте храма, еще в XII столетии, находилось языческое капище. Эта
              гипотеза связана с тем, что ранее гора, на которой располагается святилище, называлась Лысой. Кроме того,
              в ходе раскопок здесь были найдены ритуальные предметы, происхождение которых датируется XI-XIII веками:
              топор с нанесенными на него магическими знаками, астрагал и другие.<br />С приходом христианства на
              Витебщину здесь был возведен деревянный храм, освященный именем Пресвятой Богородицы. Произошло это еще в
              далеком 1406 году.<br />За время своего долгого существования церковь не раз сгорала и восстанавливалась.
              Однако не только стихийные бедствия вредили святому месту. Не единожды стены церкви служили
              стройматериалом для местных жителей: они то разбирали ее, удовлетворяя собственные нужды, то отстраивали
              заново. Исторические перипетии, рост толерантности и веротерпимости даже сделали прежде православный храм
              униатским.
            </h2>
          </div>
          <div class="untitled-page__content_box" style="--src:url(/assets/blue_circle_flat_design.png)">
            <img class="untitled-page__image2" src="/assets/church_view_through_circle_window.png" alt="alt text" />
          </div>
        </div>
        <div class="untitled-page__flex_row2">
          <div class="untitled-page__content_box1" style="--src:url(/assets/blue_circle_flat_design.png)">
            <img class="untitled-page__image2" src="/assets/twin_spire_church_from_above.png" alt="alt text" />
          </div>
          <div class="untitled-page__flex_col3">
            <h1 class="untitled-page__hero_title31">Костел Святой Варвары</h1>
            <h2 class="untitled-page__medium_title">
              Этот католический храм был возведен в 1785 году в стиле барокко и через 100 лет перестроен в неороманском
              стиле. Сначала костел Святой Варвары служил кладбищенским храмом, но впоследствии он стал приходским. В
              годы советской власти церковь была закрыта, а во время Великой Отечественной войны ее здание подверглось
              серьезным разрушениям. В 1988 году началась реставрация костела, после которой он был возвращен верующим.
              Сегодня костел Святой Варвары является действующим храмом и одной из старинных достопримечательностей
              города. Снаружи здание украшает роскошный декор. Искусно выполненная из кирпича фигурная кладка создает
              иллюзию кружева. В том же стиле построены и кирпичные входные ворота перед храмом.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="untitled-page__section2">
    <div class="untitled-page__flex_col4">
      <div class="untitled-page__flex_row3">
        <div class="untitled-page__flex_col5">
          <h1 class="untitled-page__hero_title32">Дом-музей Шагала</h1>
          <h2 class="untitled-page__medium_title">
            Знаменитый дом на Покровской улице, в котором прошли детские и юношеские годы художника, в начале 1900-х на
            правом берегу Западной Двины построил его отец. В годы войны кирпичное здание сильно пострадала от бомбежки
            и пожара – и чудом уцелело.<br />В 1997 году здесь был открыт мемориальный музей Марка Шагала. В его
            экспозиции собраны предметы быта рубежа XIX-XX веков, а также настоящие &quot;свидетели&quot; жизни Шагала –
            архивные документы и первые работы, личные вещи художника и его семьи. Их сохранилось немного, но атмосфера
            эпохи передана максимально точно: старинные экспонаты для коллекции подбирали с помощью серии рисунков,
            которую сам Марк Шагал создал, по памяти запечатлев интерьеры родительского дома.
          </h2>
        </div>
        <div class="untitled-page__content_box2" style="--src:url(/assets/blue_circle_flat_design.png)">
          <img class="untitled-page__image2" src="/assets/red_building_with_stairs.png" alt="alt text" />
        </div>
      </div>
      <div class="untitled-page__flex_row4">
        <div class="untitled-page__content_box1" style="--src:url(/assets/blue_circle_flat_design.png)">
          <img class="untitled-page__image2" src="/assets/town_clock_tower_at_dusk.png" alt="alt text" />
        </div>
        <div class="untitled-page__flex_col6">
          <h1 class="untitled-page__hero_title3">Ратуша</h1>
          <h2 class="untitled-page__medium_title">
            Первая ратуша появилась в Витебске в конце 16 века, когда городу было пожаловано Магдебургское право. В
            последующие два столетия деревянное строение неоднократно горело и восстанавливалось, пока его место не
            заняла каменная постройка.<br />Одно время здание занимала пожарная служба, из-за чего за ратушей
            закрепилось народное прозвище «Каланча». После многочисленных перестроек памятник архитектуры потерял свой
            первоначальный вид. Сегодня ратуша представляет собой трехэтажное здание с многоярусной четырехугольной
            башней. На одном из верхних ярусов висят часы, над которыми расположилась смотровая площадка. С 1924 года в
            ратуше действует Витебский краеведческий музей.
          </h2>
        </div>
      </div>
      <div class="untitled-page__flex_row5">
        <div class="untitled-page__flex_col6">
          <h1 class="untitled-page__hero_title3">Краеведческий музей</h1>
          <h2 class="untitled-page__medium_title">
            Старейший музей Витебска поместили в здание городской ратуши. Начало собранию было положено в 1868 году по
            инициативе Губернского статистического комитета. Основатель первого музея – коллекционер А.Р. Бродовский,
            впоследствии назначенный его заведующим.<br />Основную коллекцию, состоящую из десятков тысяч предметов,
            удалось сохранить даже в самые тяжёлые для страны периоды истории. Во время Великой Отечественной войны
            музей эвакуировали в тыл, после освобождения Витебска экспозиции вернулись на родину.<br />Практически все
            современные музеи Витебска являются филиалами Краеведческого музея. Сегодня в фонды комплексной
            достопримечательности входит более 200 тысяч экспонатов, среди которых старинные монеты, картины, гобелены,
            христианские реликвии, фарфоровые изделия и многое другое.
          </h2>
        </div>
        <div class="untitled-page__content_box3" style="--src:url(/assets/blue_circle_flat_design.png)">
          <img class="untitled-page__image2" src="/assets/classic_architecture_museum_entrance.png" alt="alt text" />
        </div>
      </div>
    </div>
  </section>

  <section class="untitled-page__section3">
    <div class="untitled-page__flex_col7">
      <h1 class="untitled-page__title">Кафе</h1>
      <img class="untitled-page__image41" src="/assets/coffee_cup_icon_with_leaves.png" alt="alt text" />
      <div class="untitled-page__rect1"></div>
      <div class="untitled-page__rect2"></div>
      <div class="untitled-page__flex_col8">
        <div class="untitled-page__flex_row6">
          <img class="untitled-page__image3" src="/assets/elegant_dining_table_with_wine.png" alt="alt text" />
          <div class="untitled-page__flex_col9">
            <h1 class="untitled-page__hero_title33">Humans lounge bar</h1>
            <h2 class="untitled-page__medium_title1">
              <br />Витебск ул. Ленина, 33 <br /><br />
              Ресторан паназиатской кухни, где вы можете насладиться классическими и авторскими блюдами данного стиля.
              Сильный бар, с классическими и авторскими коктейлями, широкой винной картой и уникальными видами алкоголя.
              Наши кальяны подарят вам новые эмоции и откроют вам необычные вкусовые сочетания. Humans - это про
              людей.<br />
            </h2>
          </div>
        </div>
        <div class="untitled-page__flex_row7">
          <div class="untitled-page__flex_col10">
            <h1 class="untitled-page__hero_title4">Кофе брейк</h1>
            <h2 class="untitled-page__medium_title1">
              Витебск ул. Ленина, 48<br /><br />
              Небольшое уютное кафе, выполненное в стиле кофейни. Расположено в центре города, на оживлённой улице
              Ленина. Посетители могут отдохнуть в двух залах, рассчитанных на 30 посадочных мест, а также скрасить
              время ожидания кофе с помощью кубика Рубика, настольных игр — домино, шашек. «Кофе брейк» — зона,
              свободная от курения.
            </h2>
          </div>
          <img class="untitled-page__image21" src="/assets/cafe_interior_with_red_brick_wall.png" alt="alt text" />
        </div>
      </div>
    </div>
  </section>

</main>
