<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/headroom.css" />
    <link rel="stylesheet" type="text/css" href="/css/Vitebs.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <!--<header id="header" class="headroom">
      <nav class="max:show">
         prettier-ignore 
        @@include('./Header.html')
      </nav> 
    </header> -->
    <div class="vitebs root">
      /*This group structure is not ready for flow layout, please resolve the ❗unstructured items in pxCode editor.*/
      <div class="rect"></div>
      <div class="flex_col" style="--src:url(/assets/blue_and_black_abstract.png)">
        <div class="flex_row">
          <img class="image2" src="/assets/coffee_cup_icon_with_leaves.png" alt="alt text" />
          <h1 class="hero_title">Кафе</h1>
        </div>
        <div class="flex_col1">
          <div class="flex_row1">
            <img class="image1" src="/assets/elegant_dining_setting.png" alt="alt text" />
            <div class="flex_col2">
              <h1 class="title">Humans lounge bar</h1>
              <h2 class="medium_title">
                Ресторан паназиатской кухни, где вы можете насладиться классическими и авторскими блюдами данного стиля.
                Сильный бар, с классическими и авторскими коктейлями, широкой винной картой и уникальными видами
                алкоголя. Наши кальяны подарят вам новые эмоции и откроют вам необычные вкусовые сочетания. Humans - это
                про людей.<br />
              </h2>
            </div>
          </div>
          <div class="flex_row2">
            <div class="flex_col3">
              <h1 class="title1">ТЕСТ ТЕСТ ТЕСТ</h1>
              <h2 class="medium_title1">
                Небольшое уютное кафе, выполненное в стиле кофейни. Расположено в центре города, на оживлённой улице
                Ленина. Посетители могут отдохнуть в двух залах, рассчитанных на 30 посадочных мест, а также скрасить
                время ожидания кофе с помощью кубика Рубика, настольных игр — домино, шашек. «Кофе брейк» — зона,
                свободная от курения.
              </h2>
            </div>
            <img class="image" src="/assets/cafe_interior_wall_decor.png" alt="alt text" />
          </div>
        </div>
      </div>
      <div class="content_box" style="--src:url(/assets/riverfront_architecture_at_dusk.png)">
        <div class="rect1"></div>
      </div>
      <div class="flex_col4">
        <div class="flex_row3">
          <img class="image2" src="/assets/camera_icon_with_mountains.png" alt="alt text" />
          <h1 class="hero_title3">Достопримечательности</h1>
        </div>
        <div class="flex_col5">
          <div class="flex_row4">
            <div class="flex_col6">
              <h1 class="title2">Успенский собор</h1>
              <h2 class="medium_title2">
                Археологи выносят предположение, что на месте храма, еще в XII столетии, находилось языческое капище.
                Эта гипотеза связана с тем, что ранее гора, на которой располагается святилище, называлась Лысой. Кроме
                того, в ходе раскопок здесь были найдены ритуальные предметы, происхождение которых датируется XI-XIII
                веками: топор с нанесенными на него магическими знаками, астрагал и другие.<br />С приходом христианства
                на Витебщину здесь был возведен деревянный храм, освященный именем Пресвятой Богородицы. Произошло это
                еще в далеком 1406 году.<br />За время своего долгого существования церковь не раз сгорала и
                восстанавливалась. Однако не только стихийные бедствия вредили святому месту. Не единожды стены церкви
                служили стройматериалом для местных жителей: они то разбирали ее, удовлетворяя собственные нужды, то
                отстраивали заново. Исторические перипетии, рост толерантности и веротерпимости даже сделали прежде
                православный храм униатским.
              </h2>
            </div>
            <img class="image5" src="/assets/urban_street_dawn.png" alt="alt text" />
          </div>
          <div class="flex_row5">
            <img class="image4" src="/assets/church_towers_sky.png" alt="alt text" />
            <div class="flex_col7">
              <h1 class="title3">Костел Святой Варвары</h1>
              <h2 class="medium_title3">
                Этот католический храм был возведен в 1785 году в стиле барокко и через 100 лет перестроен в
                неороманском стиле. Сначала костел Святой Варвары служил кладбищенским храмом, но впоследствии он стал
                приходским. В годы советской власти церковь была закрыта, а во время Великой Отечественной войны ее
                здание подверглось серьезным разрушениям. В 1988 году началась реставрация костела, после которой он был
                возвращен верующим. Сегодня костел Святой Варвары является действующим храмом и одной из старинных
                достопримечательностей города. Снаружи здание украшает роскошный декор. Искусно выполненная из кирпича
                фигурная кладка создает иллюзию кружева. В том же стиле построены и кирпичные входные ворота перед
                храмом.
              </h2>
            </div>
          </div>
          <div class="flex_row6">
            <div class="flex_col8">
              <h1 class="title4">Дом-музей Шагала</h1>
              <h2 class="medium_title4">
                Знаменитый дом на Покровской улице, в котором прошли детские и юношеские годы художника, в начале 1900-х
                на правом берегу Западной Двины построил его отец. В годы войны кирпичное здание сильно пострадала от
                бомбежки и пожара – и чудом уцелело.<br />В 1997 году здесь был открыт мемориальный музей Марка Шагала.
                В его экспозиции собраны предметы быта рубежа XIX-XX веков, а также настоящие &quot;свидетели&quot;
                жизни Шагала – архивные документы и первые работы, личные вещи художника и его семьи. Их сохранилось
                немного, но атмосфера эпохи передана максимально точно: старинные экспонаты для коллекции подбирали с
                помощью серии рисунков, которую сам Марк Шагал создал, по памяти запечатлев интерьеры родительского
                дома.
              </h2>
            </div>
            <img class="image3" src="/assets/brick_building_entrance.png" alt="alt text" />
          </div>
          <div class="flex_row7">
            <img class="image31" src="/assets/town_clock_tower_dusk.png" alt="alt text" />
            <div class="flex_col9">
              <h1 class="title5">Ратуша</h1>
              <h2 class="medium_title5">
                Первая ратуша появилась в Витебске в конце 16 века, когда городу было пожаловано Магдебургское право. В
                последующие два столетия деревянное строение неоднократно горело и восстанавливалось, пока его место не
                заняла каменная постройка.<br />Одно время здание занимала пожарная служба, из-за чего за ратушей
                закрепилось народное прозвище «Каланча». После многочисленных перестроек памятник архитектуры потерял
                свой первоначальный вид. Сегодня ратуша представляет собой трехэтажное здание с многоярусной
                четырехугольной башней. На одном из верхних ярусов висят часы, над которыми расположилась смотровая
                площадка. С 1924 года в ратуше действует Витебский краеведческий музей.
              </h2>
            </div>
          </div>
          <div class="flex_row8">
            <div class="flex_col10">
              <h1 class="title6">Краеведческий музей</h1>
              <h2 class="medium_title6">
                Старейший музей Витебска поместили в здание городской ратуши. Начало собранию было положено в 1868 году
                по инициативе Губернского статистического комитета. Основатель первого музея – коллекционер А.Р.
                Бродовский, впоследствии назначенный его заведующим.<br />Основную коллекцию, состоящую из десятков
                тысяч предметов, удалось сохранить даже в самые тяжёлые для страны периоды истории. Во время Великой
                Отечественной войны музей эвакуировали в тыл, после освобождения Витебска экспозиции вернулись на
                родину.<br />Практически все современные музеи Витебска являются филиалами Краеведческого музея. Сегодня
                в фонды комплексной достопримечательности входит более 200 тысяч экспонатов, среди которых старинные
                монеты, картины, гобелены, христианские реликвии, фарфоровые изделия и многое другое.
              </h2>
            </div>
            <img class="image6" src="/assets/historic_building_facade.png" alt="alt text" />
          </div>
        </div>
      </div>
      <div class="flex_col11">
        <div class="flex_row9">
          <h2 class="medium_title7">
            Отель «Лучёса» расположен в километре от центра Витебска. Постояльцам предоставлен широкий спектр услуг, а
            удобное расположение позволяет добраться в любую точку города.<br />Питание может осуществляться в ресторане
            отеля. Кафе и кухня также в свободном доступе. Завтрак является дополнительной услугой и оплачивается
            отдельно.<br />Отель предлагает бизнес-туристам переговорную комнату и конференц-зал. Помещения оборудованы
            всем необходимым. Круглосуточно можно воспользоваться услугами бизнес-центра.<br />Одноместный номер  - от
            67 BYN/сутки.<br />
          </h2>
          <img class="image61" src="/assets/modern_hotel_front_lawn.png" alt="alt text" />
        </div>
        <div class="flex_row10">
          <img class="image61" src="/assets/hotel_building_with_blue_sky.png" alt="alt text" />
          <div class="flex_col12">
            <h1 class="title7">Отель “Витебск”</h1>
            <h2 class="medium_title8">
              Найти идеальный отель в Витебске не должно быть сложной задачей. Добро пожаловать в Витебск Отель,
              прекрасный выбор для путешественников. Номера оборудованы холодильником, гости могут в любой момент быть
              онлайн благодаря Интернету. Здесь вы сможете хорошо отдохнуть и восстановить свои силы.<br />Витебск Отель
              предлагает круглосуточную стойку регистрации, обслуживание в номер и хранение багажа. При отеле есть
              ресторан и бесплатная парковка. Ночь в одноместном номере обойдется порядка 55 BYN.<br />
            </h2>
          </div>
        </div>
      </div>
      <h1 class="title11">Отель “Лучёса”</h1>
      <h1 class="hero_title31">Размещение</h1>
      <img class="image21" src="/assets/landscape_painting_in_gallery_icon.png" alt="alt text" /><img
        class="cover2"
        src="/assets/white_cathedral_in_leafy_setting.png"
        alt="alt text"
      />
      <div class="rect2"></div>
      <h2 class="medium_title11">ПОЛОЦК</h2>
      <img class="cover21" src="/assets/white_church_with_red_roof.png" alt="alt text" />
      <div class="rect21"></div>
      <h2 class="medium_title12">ОРША</h2>
      <img class="cover22" src="/assets/cathedral_with_golden_domes.png" alt="alt text" />
      <div class="rect22"></div>
      <h2 class="medium_title13">ГЛУБОКОЕ</h2>
      <img class="cover23" src="/assets/brick_church_reflection_in_water.png" alt="alt text" />
      <div class="rect3"></div>
      <h2 class="medium_title14">ПОСТАВЫ</h2>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');

      const header = document.querySelector("#header");
      if(header) {
          const headroom = new Headroom(header);
          headroom.init();
      }
    </script>
  </body>
</html>
