@font-face {
  font-family: 'Beryozki';
  src: url(../fonts/Beryozki/Beryozki.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beer Money';
  src: url(../fonts/Beer-Money/Beer-Money.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  // font-family: ;
  font-style: normal;
  font-weight: 400;
  //font-size: 18px;
  //line-height: 140%;
  // color: #333333;
}