<div class="flex-column">
<div class="brest root">
    <div class="grid">
        <div class="group">
            <img class="decorator" src="./assets/3e587e19dc4795e52c33261277d2d073.png" alt="alt text" />
            <div class="item">
                <div class="content_box12">
                    <div class="content_box11" style="--src:url(../assets/city_statue_with_column.png)">
                        <div class="flex_col">
                            <h1 class="hero_title1">БРЕСТ</h1>
                            <h1 class="hero_title_box">
                                <span class="hero_title"
                  ><span class="hero_title_span0">Мир</span><span class="hero_title_span1"> слишком велик,<br />чтобы </span><span class="hero_title_span2">сидеть</span><span class="hero_title_span3"> на месте </span></span>
                            </h1>
                        </div>
                    </div>
                    <div class="flex_row">
                        <div class="content_box8" style="--src:url(../assets/white_cathedral_in_leafy_setting.png)">
                            <div class="content_box5">
                                <h2 class="medium_title1">ПОЛОЦК</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/white_church_with_red_roof.png)">
                            <div class="content_box5">
                                <h2 class="medium_title11">ОРША</h2>
                            </div>
                        </div>
                        <div class="content_box6" style="--src:url(../assets/cathedral_with_golden_domes.png)">
                            <div class="content_box5">
                                <h2 class="medium_title12">ГЛУБОКОЕ</h2>
                            </div>
                        </div>
                        <div class="content_box4" style="--src:url(../assets/brick_church_reflection_in_water.png)">
                            <div class="content_box3">
                                <h2 class="medium_title13">ПОСТАВЫ</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_col1">
                    <div class="flex_col2">
                        <div class="flex_col3">
                            <div class="flex_row1">
                                <img class="image1" src="./assets/landscape_painting_in_gallery_icon.png" alt="alt text" />
                                <h1 class="hero_title3">Размещение</h1>
                            </div>
                            <div class="flex_col4">
                                <div class="flex_row2">
                                    <div class="flex_col5">
                                        <h1 class="title">Мини-отель Гоголь</h1>
                                        <h2 class="medium_title">
                                            Мини-отель «Гоголь» расположенный в самом центре города – это великолепный формат для тех, кто
                                            ищет идеальный компромисс между демократичными ценами и комфортом. По сравнению с другими
                                            вариантами в этом городе, гости получают тот же комфорт и сервис, но за меньшую стоимость.
                                            Стоимость номеров и мест в отеле варьируется в зависимости от категории номера и периода
                                            заезда.
                                        </h2>
                                    </div>
                                    <img class="image5" src="./assets/hotel_entrance_sign.png" alt="alt text" />
                                </div>
                                <div class="flex_row3">
                                    <img class="image5" src="./assets/youth_hotel_entrance.png" alt="alt text" />
                                    <div class="flex_col6">
                                        <h1 class="title1">Гостиница “Молодежная”</h1>
                                        <h2 class="medium_title">
                                            Гостиница «Молодежная» — уютное место в центральной части города Бреста, погружающее своих
                                            гостей в атмосферу заботы и комфорта. В шаговой доступности от гостиницы расположены ж/д и
                                            авто вокзалы, остановки городского транспорта, центральный рынок, банк, развлекательные и
                                            торговые центры, культурные и исторические памятники: мемориальный комплекс «Брестская
                                            крепость герой», музей железнодорожной техники, краеведческий музей, академический театр
                                            драмы, областная филармония, улица исторических ценностей.
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex_col7">
                            <h1 class="hero_title31">Достопримечательности</h1>
                            <div class="flex_row4">
                                <div class="flex_col8">
                                    <h1 class="title">Брестская крепость</h1>
                                    <h2 class="medium_title">
                                        Брестская крепость — одна из наиболее известных достопримечательностей Беларуси. В конце XVIII
                                        в. Брест вошел в состав Российской империи, и в 1836—1842 гг. для защиты западных рубежей в нем
                                        на месте старого города была построена крепость. Она стала важным участником Первой и Второй
                                        Мировой войн. В 1941 г. ее защитники проявили исключительное мужество, в течение месяца отбивая
                                        противника. В 1971 г. среди развалин крепости открылся посвященный этим событиям мемориальный
                                        комплекс.<br />Зайдя в Брестскую крепость, слева вы увидите скульптуру «Жажда» — острая нехватка
                    воды знойным летом стала одной из трудностей обороны. По центру крепости за ней виднеется
                    главный монумент крепости — «Мужество». Перед ним располагаются Вечный огонь и руины здания
                    Инженерного управления, совсем рядом на 104.5 м поднимается знак победы — штык-обелиск.
                                    </h2>
                                </div>
                                <img class="image4" src="./assets/red_castle_architecture.png" alt="alt text" />
                            </div>
                            <div class="flex_row5">
                                <img class="image3" src="./assets/building_glass_facade.png" alt="alt text" />
                                <div class="flex_col9">
                                    <h1 class="title">Музей “Берестье”</h1>
                                    <h2 class="medium_title">
                                        На территории Волынского укрепления Брестской крепости, на слиянии рек Мухавец и Западный Буг
                                        находится музей «Берестье», филиал Брестского краеведческого музея, и еще одно место, куда
                                        обязательно стоит заглянуть туристу в Бресте. Музей создан в 1982 г. на месте раскопок
                                        восточнославянского города XI—XIII вв., проведенных в 1970-х гг., и вмещает уникальный по
                                        сохранности и богатству археологический памятник.<br />Здание музея «Берестье» — большой
                    стеклянный павильон, очертаниями напоминающий древнее жилище и раскрытые недра земли. В самом
                    центре под крышей расположились три десятка домов, открытых на раскопках, а по периметру
                    найденные здесь артефакты — предметы быта, орудия, оружие, украшения.
                                    </h2>
                                </div>
                            </div>
                            <div class="flex_row6">
                                <div class="flex_col9">
                                    <h1 class="title2">Аллея фонорей</h1>
                                    <h2 class="medium_title">
                                        В средней части улицу Советскую в Бресте пересекает улица Гоголя. На всем ее протяжении
                                        размещается Аллея фонарей, созданная на средства городских инвесторов в 2013 г. Четыре десятка
                                        фонарей не просто стандартные столбы с лампочками. Каждый из них создан по определенному сюжету,
                                        потому интересен и уникален. Здесь можно увидеть фонарь-печь, стоящий у стола с яствами,
                                        фонарь-скрипичный ключ или фонарь-ангел. Некоторые представляют иллюстрацию литературных
                                        произведений Н. В. Гоголя: «Носа», «Вечеров на хуторе близ Диканьки» и даже сожженный 2-й том
                                        «Мертвых душ».
                                    </h2>
                                </div>
                                <img class="cover2" src="./assets/street_lamps_illuminated_at_night.png" alt="alt text" />
                            </div>
                            <div class="flex_row6">
                                <img class="image2" src="./assets/angel_statue_with_sky_background.png" alt="alt text" />
                                <div class="flex_col10">
                                    <h1 class="title">Памятник тысячелетия Бреста</h1>
                                    <h2 class="medium_title">
                                        В 2009 году Брест отпраздновал свое тысячелетие. В честь этого, благодаря добровольным
                                        пожертвованиям жителей, на месте пересечения улиц Гоголя и Советской был возведен Монумент
                                        тысячелетия Бреста. В проекте памятника предлагалось использовать городскую модель, которая
                                        должна была изображать конкретные персонажи истории  и абстрактные лица горожан. Внешний вид
                                        памятника поражает своей масштабностью. Все его фигуры помещены под сенью Ангела-Хранителя. А
                                        вместо первоначально задуманных абстрактных и исторических героев, на монументе нашли свое
                                        отражение сюжеты легенд и реальных событий. Здесь можно увидеть повествование об основании и
                                        возведении города, бой берестейцев при Грюнвальде, издание в XVI веке знаменитой Берестейской
                                        Библии. Также памятник отражает героическую оборону Брестской крепости в 1941 году и сюжеты
                                        освоения Космоса.
                                    </h2>
                                </div>
                            </div>
                            <div class="flex_row6">
                                <div class="flex_col11">
                                    <h1 class="title3">Зимний сад</h1>
                                    <h2 class="medium_title">
                                        В Бресте у старого здания государственного университета имени Пушкина расположен
                                        учебно-методический комплекс «Зимний сад». Первый этаж Зимнего сада разделен на три условные
                                        климатические зоны. Переступая порог, мы попадаем в тропики, где растут красивые папоротники и
                                        орхидеи. Успокаивающая и чарующая атмосфера благоприятно влияет на душевное состояние. В краю
                                        субтропиков удивляют зреющие плоды лимонов и гранатов. В зоне пустыни мы обратили внимание на
                                        гавортии, гастерии, агавы, молочаи и разнообразные кактусы. Сразу видно, что уход за живой
                                        частицей природы требует знаний, ответственности и стараний. Это под силу только творческому и
                                        усердному коллективу, который трудится в стенах этого заведения. А самое главное, эти люди
                                        обладают стремлением донести до нас знания о природе максимально понятно, просто и красиво.
                                    </h2>
                                </div>
                                <img class="cover2" src="./assets/indoor_garden_view.png" alt="alt text" />
                            </div>
                        </div>
                    </div>
                    <div class="content_box2" style="--src:url(../assets/14dd9fd9c669d8caaba060725e5f06fb.png)">
                        <div class="flex_col12">
                            <div class="flex_row7">
                                <div class="content_box" style="--src:url(../assets/fb3f3ccef198a1dcce658e9a95118027.png)">
                                    <img class="image" src="./assets/cafe_wall_mural_decor.png" alt="alt text" />
                                </div>
                                <div class="flex_col13">
                                    <h1 class="title4">Botanic Bar</h1>
                                    <h2 class="medium_title2">
                                        Здесь можешь выпить оригинальный итальянский Illy, больше в Бресте его нигде не попробуешь. Но
                                        фишка заведения – в 40 видах чая: классического, травяного, китайского. В кафе проходят выставки
                                        и очень зелено, чувствуешь себя, будто в оранжерее.
                                    </h2>
                                </div>
                            </div>
                            <div class="flex_row3">
                                <div class="flex_col14">
                                    <h1 class="title5">Дом 31</h1>
                                    <h2 class="medium_title2">
                                        Шантарам» и «Алые паруса» теперь можно попробовать на вкус в виде коктейлей. Только не окажись
                                        «Над пропастью во ржи» до начала вечеринки – диджеи здесь играют только на виниле. Приятная
                                        атмосфера дополняется приглушенным светом и темными оттенками заведения. Приятный интерьер
                                        дополняют картины и камин. Для любителей коктейльных вечеров и вкусных кальянов, это будет
                                        находка, широкий ассортимент авторских картелей и кальяна различной крепости, сделают ваш
                                        вечер.<br />
                                    </h2>
                                </div>
                                <div class="content_box" style="--src:url(../assets/fb3f3ccef198a1dcce658e9a95118027.png)">
                                    <img class="image" src="./assets/interior_staircase_with_art.png" alt="alt text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item1">
            <img class="image1" src="./assets/coffee_cup_icon_with_leaves.png" alt="alt text" />
            <h1 class="hero_title2">Кафе</h1>
        </div>
    </div>
    <div class="rect"></div>
    <img class="image11" src="./assets/camera_icon_with_mountains.png" alt="alt text" />
</div>
</div>