.header__content_box1 {
  display: flex;
  flex-direction: column;
  height: 1640px;
  width: 1920px;
}
.header__content_box11 {
  display: flex;
  flex-direction: column;
}
.header__cover {
  left: 0px;
  margin: 0px auto;
  position: absolute;
  right: 0px;
  width: 100%;
}
.header__foreground1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 922px;
  margin: 0px 4px 158px 0px;
  width: 1916px;
}
.header__image1 {
  width: 100%;
}
.header__hero_title {
  color: rgba(255, 255, 255, 0.498);
  font: 700 350px/1 "Montserrat", Helvetica, Arial, serif;
  margin: 150px 0px 0px;
}
.header__hero_title1_box {
  margin: 130px 0px 0px;
}
.header__hero_title1 {
  color: rgb(0, 0, 0);
  font: 700 80px/1.14 "Roboto Condensed", Helvetica, Arial, serif;
  letter-spacing: 0.8px;
}
.header__hero_title1_span0 {
  color: rgb(141, 194, 226);
  font: 700 1em/1.14 "Roboto Condensed", Helvetica, Arial, serif;
}
.header__hero_title1_span1 {
  color: rgb(255, 255, 255);
  font: 700 1em/1.14 "Roboto Condensed", Helvetica, Arial, serif;
}
.header__hero_title1_span2 {
  color: rgb(141, 194, 226);
  font: 700 1em/1.14 "Roboto Condensed", Helvetica, Arial, serif;
}
.header__hero_title1_span3 {
  color: rgb(255, 255, 255);
  font: 700 1em/1.14 "Roboto Condensed", Helvetica, Arial, serif;
}