.vitebs.root {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  height: 8760px;
  min-height: 8760px;
  width: 1920px;
}
.vitebs .rect {
  background-color: rgba(79, 132, 164, 0.749);
  bottom: 0px;
  height: 500px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 8260px;
  width: 1920px;
}
.vitebs .flex_col {
  align-items: center;
  background: var(--src) center center/100% 100% no-repeat;
  bottom: 500px;
  display: flex;
  flex-direction: column;
  gap: 70px 0px;
  height: 1638px;
  left: 0px;
  padding: 200px 212px 148px 212px;
  position: absolute;
  right: 0px;
  top: 6622px;
  width: 1920px;
}
.vitebs .flex_row {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 70px;
  justify-content: space-between;
  margin: 0px 638.5px 0px 641px;
  width: 216.5px;
}
.vitebs .image2 {
  height: 50px;
  margin: 10px 0px;
  width: 50px;
}
.vitebs .hero_title {
  color: rgb(0, 0, 0);
  display: flex;
  font: 700 50px/1.39 "Roboto Condensed", Helvetica, Arial, serif;
  height: 70px;
  justify-content: center;
  letter-spacing: 2.5px;
  text-align: center;
  width: 118px;
}
.vitebs .flex_col1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px 0px;
  height: 1150px;
  width: 1496px;
}
.vitebs .flex_row1 {
  display: flex;
  gap: 0px 10px;
  height: 525px;
  justify-content: space-between;
  width: 1496px;
}
.vitebs .image1 {
  height: 525px;
  width: 526px;
}
.vitebs .flex_col2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 28px 0px;
  height: 280px;
  margin: 105px 0px 140px;
  width: 895px;
}
.vitebs .title {
  color: rgb(0, 0, 0);
  display: flex;
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  justify-content: center;
  letter-spacing: 1.5px;
  margin: 0px 303px;
  text-align: center;
  width: 289px;
}
.vitebs .medium_title {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 210px;
  letter-spacing: 1.25px;
  text-align: justify;
  width: 895px;
}
.vitebs .flex_row2 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 525px;
  justify-content: space-between;
  margin: 0px 2px 0px 0px;
  width: 1494px;
}
.vitebs .flex_col3 {
  display: flex;
  flex-direction: column;
  gap: 28px 0px;
  height: 280px;
  margin: 123px 0px 122px;
  width: 894px;
}
.vitebs .title1 {
  color: rgb(0, 0, 0);
  display: flex;
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  justify-content: center;
  letter-spacing: 1.5px;
  margin: 0px 318px 0px 395px;
  text-align: center;
  width: 181px;
}
.vitebs .medium_title1 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 210px;
  letter-spacing: 1.25px;
  text-align: justify;
  width: 894px;
}
.vitebs .image {
  height: 525px;
  width: 525px;
}
.vitebs .content_box {
  background: var(--src) center center/100% 100% no-repeat;
  bottom: 7680px;
  display: flex;
  flex-direction: column;
  height: 1080px;
  left: 0px;
  padding: 0px 0px 930px 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 1920px;
}
.vitebs .rect1 {
  background-color: rgb(79, 132, 164);
  height: 150px;
  margin: 0px 0px 930px;
  opacity: 0.75;
  width: 1920px;
}
.vitebs .flex_col4 {
  bottom: 2238px;
  display: flex;
  flex-direction: column;
  gap: 70px 0px;
  height: 3487px;
  left: 211px;
  position: absolute;
  right: 212px;
  top: 3035px;
  width: 1497px;
}
.vitebs .flex_row3 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 70px;
  justify-content: space-between;
  margin: 0px 338px 0px 413px;
  width: 746px;
}
.vitebs .hero_title3 {
  color: rgb(0, 0, 0);
  font: 700 50px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 70px;
  letter-spacing: 2.5px;
  width: 646px;
}
.vitebs .flex_col5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px 0px;
  height: 3347px;
  width: 1497px;
}
.vitebs .flex_row4 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 692px;
  justify-content: space-between;
  width: 1497px;
}
.vitebs .flex_col6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: 692px;
  width: 910px;
}
.vitebs .title2 {
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  letter-spacing: 1.4px;
  margin: 0px 287px;
  width: 336px;
}
.vitebs .medium_title2 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 630px;
  letter-spacing: 1.25px;
  width: 910px;
}
.vitebs .image5 {
  height: 525px;
  margin: 84px 0px 83px;
  width: 512px;
}
.vitebs .flex_row5 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 556px;
  justify-content: space-between;
  margin: 0px 1px;
  width: 1495px;
}
.vitebs .image4 {
  height: 525px;
  margin: 31px 0px 0px;
  width: 531px;
}
.vitebs .flex_col7 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: 552px;
  margin: 0px 0px 4px;
  width: 889px;
}
.vitebs .title3 {
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  letter-spacing: 1.5px;
  margin: 0px 226px;
  width: 437px;
}
.vitebs .medium_title3 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 490px;
  letter-spacing: 1.25px;
  width: 889px;
}
.vitebs .flex_row6 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 552px;
  justify-content: space-between;
  margin: 0px 6px 0px 1px;
  width: 1490px;
}
.vitebs .flex_col8 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: 552px;
  width: 890px;
}
.vitebs .title4 {
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  margin: 0px 311px 0px 304px;
  width: 275px;
}
.vitebs .medium_title4 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 490px;
  letter-spacing: 1.25px;
  width: 890px;
}
.vitebs .image3 {
  height: 525px;
  margin: 13px 0px 14px;
  width: 525px;
}
.vitebs .flex_row7 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 525px;
  justify-content: space-between;
  margin: 0px 6px 0px 1px;
  width: 1490px;
}
.vitebs .image31 {
  height: 525px;
  width: 527px;
}
.vitebs .flex_col9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: 517px;
  margin: 4px 0px;
  width: 888px;
}
.vitebs .title5 {
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  letter-spacing: 1.5px;
  margin: 0px 391px 0px 381px;
  width: 116px;
}
.vitebs .medium_title5 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 455px;
  letter-spacing: 1.25px;
  width: 888px;
}
.vitebs .flex_row8 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 622px;
  justify-content: space-between;
  margin: 0px 6px 0px 1px;
  width: 1490px;
}
.vitebs .flex_col10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: 622px;
  width: 890px;
}
.vitebs .title6 {
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  letter-spacing: 1.4px;
  margin: 0px 276px 0px 273px;
  width: 341px;
}
.vitebs .medium_title6 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 560px;
  letter-spacing: 1.25px;
  width: 890px;
}
.vitebs .image6 {
  height: 525px;
  margin: 49px 0px 48px;
  width: 525px;
}
.vitebs .flex_col11 {
  align-items: center;
  bottom: 6025px;
  display: flex;
  flex-direction: column;
  gap: 100px 0px;
  height: 1160px;
  left: 214px;
  position: absolute;
  right: 210px;
  top: 1575px;
  width: 1496px;
}
.vitebs .flex_row9 {
  align-items: center;
  display: flex;
  gap: 0px 10px;
  height: 530px;
  justify-content: space-between;
  margin: 0px 2px 0px 0px;
  width: 1494px;
}
.vitebs .medium_title7 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 350px;
  letter-spacing: 1.25px;
  margin: 81px 0px 99px;
  width: 994px;
}
.vitebs .image61 {
  border-radius: 200px 200px 200px 200px;
  height: 530px;
  width: 400px;
}
.vitebs .flex_row10 {
  display: flex;
  gap: 0px 10px;
  height: 530px;
  justify-content: space-between;
  width: 1496px;
}
.vitebs .flex_col12 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  height: 377px;
  margin: 41px 0px 112px;
  width: 996px;
}
.vitebs .title7 {
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 42px;
  letter-spacing: 1.5px;
  margin: 0px 356px;
  width: 284px;
}
.vitebs .medium_title8 {
  color: rgb(0, 0, 0);
  font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
  height: 315px;
  letter-spacing: 1.25px;
  width: 996px;
}
.vitebs .title11 {
  bottom: 7124px;
  color: rgb(0, 0, 0);
  font: 700 30px/1.39 "Roboto Condensed", Helvetica, Arial, serif;
  height: 42px;
  left: 592px;
  letter-spacing: 1.5px;
  position: absolute;
  right: 1113px;
  top: 1594px;
  width: 215px;
}
.vitebs .hero_title31 {
  bottom: 7235px;
  color: rgb(0, 0, 0);
  font: 700 50px/1.39 "Roboto", Helvetica, Arial, serif;
  height: 70px;
  left: 866px;
  letter-spacing: 2.5px;
  position: absolute;
  right: 724px;
  top: 1455px;
  width: 330px;
}
.vitebs .image21 {
  bottom: 7245px;
  height: 50px;
  left: 766px;
  position: absolute;
  right: 1104px;
  top: 1465px;
  width: 50px;
}
.vitebs .cover2 {
  border-radius: 40px 40px 40px 40px;
  bottom: 7418px;
  height: 340px;
  left: 102px;
  position: absolute;
  right: 1418px;
  top: 1002px;
  width: 400px;
}
.vitebs .rect2 {
  background-color: rgb(246, 250, 251);
  border-radius: 35.53px 35.53px 35.53px 35.53px;
  bottom: 7418px;
  height: 71px;
  left: 325px;
  position: absolute;
  right: 1418px;
  top: 1271px;
  width: 177px;
}
.vitebs .medium_title11 {
  bottom: 7439px;
  color: rgb(0, 0, 0);
  font: 700 25px/1.14 "Roboto Condensed", Helvetica, Arial, serif;
  height: 29px;
  left: 364px;
  letter-spacing: 1.25px;
  position: absolute;
  right: 1457px;
  top: 1292px;
  width: 99px;
}
.vitebs .cover21 {
  border-radius: 40px 40px 40px 40px;
  bottom: 7418px;
  height: 340px;
  left: 541px;
  position: absolute;
  right: 979px;
  top: 1002px;
  width: 400px;
}
.vitebs .rect21 {
  background-color: rgb(246, 250, 251);
  border-radius: 35.53px 35.53px 35.53px 35.53px;
  bottom: 7418px;
  height: 71px;
  left: 764px;
  position: absolute;
  right: 979px;
  top: 1271px;
  width: 177px;
}
.vitebs .medium_title12 {
  bottom: 7439px;
  color: rgb(0, 0, 0);
  font: 700 25px/1.14 "Roboto Condensed", Helvetica, Arial, serif;
  height: 29px;
  left: 817px;
  letter-spacing: 1.25px;
  position: absolute;
  right: 1032px;
  top: 1292px;
  width: 71px;
}
.vitebs .cover22 {
  border-radius: 40px 40px 40px 40px;
  bottom: 7418px;
  height: 340px;
  left: 980px;
  position: absolute;
  right: 540px;
  top: 1002px;
  width: 400px;
}
.vitebs .rect22 {
  background-color: rgb(246, 250, 251);
  border-radius: 35.53px 35.53px 35.53px 35.53px;
  bottom: 7418px;
  height: 71px;
  left: 1204px;
  position: absolute;
  right: 539px;
  top: 1271px;
  width: 177px;
}
.vitebs .medium_title13 {
  bottom: 7439px;
  color: rgb(0, 0, 0);
  font: 700 25px/1.14 "Roboto Condensed", Helvetica, Arial, serif;
  height: 29px;
  left: 1232px;
  letter-spacing: 1.25px;
  position: absolute;
  right: 568px;
  top: 1292px;
  width: 120px;
}
.vitebs .cover23 {
  border-radius: 40px 40px 40px 40px;
  bottom: 7418px;
  height: 340px;
  left: 1419px;
  position: absolute;
  right: 101px;
  top: 1002px;
  width: 400px;
}
.vitebs .rect3 {
  background-color: rgb(246, 250, 251);
  border-radius: 35.5px 35.5px 35.5px 35.5px;
  bottom: 7418px;
  height: 71px;
  left: 1643px;
  position: absolute;
  right: 101px;
  top: 1271px;
  width: 176px;
}
.vitebs .medium_title14 {
  bottom: 7439px;
  color: rgb(0, 0, 0);
  font: 700 25px/1.14 "Roboto Condensed", Helvetica, Arial, serif;
  height: 29px;
  left: 1674px;
  letter-spacing: 1.25px;
  position: absolute;
  right: 132px;
  top: 1292px;
  width: 114px;
}