.header {
  .container {
    max-width: 1050px;
  }
}


@media screen and (max-width: 550px) {
  .home-page {
    .container {
      max-width: 320px;
    }
  }
}

.grodno-city {
  .container {
    max-width: 1050px;
  }

  .housing {
    .container {
      max-width: 1260px;
    }
  }

  .cafe {
    .container {
      max-width: 1260px;
    }
  }

  .bars {
    .container {
      max-width: 1260px;
    }
  }
}


@media screen and (max-width: 1050px) {
  .grodno-city {
    .container {
      max-width: 900px;
    }
  }
}

.about-project {
  .container {
    max-width: 1050px;
  }
}

.resume {
  .container {
    max-width: 1140px;
  }
}