@import 'base/normalize';
@import 'base/typography';
@import 'base/base';

@import 'components/title-city__icon';

@import 'layout/container';
@import 'layout/header';

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/backgrounds/home-page_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  .main {
    // height: calc(100vh - 116px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  /* Сity-cards styles start */
  .city-cards {
    display: flex;
    // height: 100%;
    padding-bottom: 30px;

    &__items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      justify-items: center;

      .item {
        padding: 25px 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

        &__img {
          width: 200px;
          height: 200px;
          object-position: top center;
          object-fit: cover;
        }

        &__title {
          font-family: 'Beryozki';
          font-size: 48px;
          line-height: 140%;
          text-align: center;
          color: #000000;
          margin: 0;
          padding: 10px 0 15px;
        }
      }
    }
  }

  /* Сity-cards styles end */
}

@media screen and (min-width: 550px) {
  .home-page {
    .city-cards {
      &__items {
        .item:nth-child(1) {
          transform: rotate(10deg);
        }

        .item:nth-child(2) {
          transform: rotate(-5deg);
        }

        .item:nth-child(4) {
          transform: rotate(-10deg);
        }

        .item:nth-child(6) {
          transform: rotate(10deg);
        }

        .item:hover {
          cursor: pointer;
          z-index: 5;
          transition: all 0.5s ease-in-out;
        }

        .item:nth-child(1):hover {
          transform: scale(1.1, 1.1) translate(10%, 10%);
        }

        .item:nth-child(2):hover {
          transform: scale(1.1, 1.1) translate(0, 10%);
        }

        .item:nth-child(3):hover {
          transform: scale(1.1, 1.1) translate(-10%, 10%);
        }

        .item:nth-child(4):hover {
          transform: scale(1.1, 1.1) translate(10%, -10%);
        }

        .item:nth-child(5):hover {
          transform: scale(1.1, 1.1) translate(0, -10%);
        }

        .item:nth-child(6):hover {
          transform: scale(1.1, 1.1) translate(-10%, -10%);
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home-page {

    .city-cards {
      &__items {
        .item {
          padding: 20px 15px;

          &__img {
            width: 160px;
            height: 160px;
          }

          &__title {
            font-size: 40px;
            padding: 5px 0 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .home-page {

    .city-cards {
      &__items {
        .item {
          padding: 15px 10px;

          &__img {
            width: 140px;
            height: 140px;
          }

          &__title {
            font-size: 35px;
            padding: 5px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .home-page {

    .city-cards {
      &__items {
        grid-template: repeat(1, 1fr)/repeat(6, 1fr);
        grid-column-gap: 20px;
        overflow: hidden;

        .item {
          padding: 25px 20px;

          &__img {
            width: 220px;
            height: 220px;
          }

          &__title {
            font-size: 48px;
            padding: 10px 0 15px;
          }
        }
      }
    }
  }
}




.grodno-city {
  background-color: #DFBDA7;

  /* Grodno styles start */
  .grodno {
    background-image: url(../images/backgrounds/grodno_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &__title {
      margin: 0;
      font-family: 'Beer Money';
      font-size: 150px;
      line-height: 185px;
      text-align: center;
      color: #DFC4A7;
      text-shadow: 2px 0 2px #000,
        0 2px 2px #000,
        -2px 0 2px #000,
        0 -2px 2px #000;
      padding: 40px 0 200px;
      margin-bottom: 95px;
    }
  }

  /* Grodno styles end */
  /* Housing styles end */
  .housing {
    &__inner {}

    &__items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      grid-gap: 50px 180px;
      justify-items: center;
    }

    &__item {
      max-width: 520px;
      min-height: 0;

      .item {
        &__subtitle {
          font-size: 30px;
        }

        &__desc {
          font-size: 20px;
          letter-spacing: 0.015em;
          text-align: justify;
          user-select: text;
        }
      }
    }
  }

  /* Housing styles start */


  /* Sightseeing styles start */
  .sightseeing {
    margin-bottom: 75px;

    &__inner {}

    &__items {}

    &__item {
      margin-bottom: 40px;

      .item {
        &__subtitle {
          margin-bottom: 10px;
          font-size: 25px;
          text-align: center;

        }

        &__img {
          object-position: top center;
          object-fit: cover;
        }

        &__text {
          font-size: 18px;
          text-align: justify;
          user-select: text;
        }
      }
    }
  }

  /* Sightseeing styles end */

  /* Cafe styles start */
  .cafe {
    margin-bottom: 75px;

    &__inner {}

    &__items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      grid-gap: 60px 100px;
      justify-items: center;
      align-items: center;
    }

    &__item {
      .item {
        &__img {
          width: 425px;
          height: 425px;
          object-position: top center;
          object-fit: cover;
          border-radius: 50%;
        }

        &__subtitle {
          margin: 0;
          margin-bottom: 16px;
          font-size: 30px;
        }

        &__desc {
          max-width: 565px;
          font-size: 20px;
          letter-spacing: 0.015em;
          text-align: justify;
          user-select: text;
        }
      }
    }
  }

  /* Cafe styles end */

  /* Bars styles start */
  .bars {
    &__inner {}

    &__items {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      grid-gap: 75px 130px;
      justify-items: center;
      align-items: center;
    }

    &__item {
      .item {
        &__img {
          width: 330px;
          height: 525px;
          object-position: top center;
          object-fit: cover;
          border-radius: 50px 0 50px 0;
        }

        &__subtitle {
          margin: 0;
          margin-bottom: 16px;
          font-size: 30px;
        }

        &__desc {
          max-width: 670px;
          font-size: 20px;
          letter-spacing: 0.015em;
          text-align: justify;
          user-select: text;
        }
      }
    }
  }

  /* Bars styles end */
}

@media screen and (max-width: 1050px) {

  .sightseeing {
    .item__img {
      max-width: 880px;
    }
  }
}

/* Get-in-touch styles end */

.about-project {
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/backgrounds/about-project_bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;

  .main {
    color: ghostwhite;
    text-shadow: 0 0 10px, 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);

    .about {
      &__inner {}

      &__title {
        font-family: 'Beer Money';
        text-align: center;
      }

      .beer-font {
        font-family: 'Beer Money';

      }
    }



    /* Our-team styles start */
    .our-team {
      padding: 80px 0 90px;

      &__title {
        font-size: 23px;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 28px;
        margin-bottom: 43px;
        position: relative;
      }

      &__title::after {
        content: '';
        width: 80px;
        height: 2px;
        background: black;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
      }

      &__inner {}

      &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__img {
            width: 220px;
            height: 220px;
            object-position: top center;
            object-fit: cover;
            filter: grayscale(1);
          }

          &__title {
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
            padding: 20px 0 6px;
          }

          &__subtitle {
            // font-family: 'Vollkorn', serif;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            padding-bottom: 18px;
          }
        }

        .item:hover img {
          filter: grayscale(0);
          transition: .5s all;
        }
      }
    }

    /* Our-team styles end */
    /* Resume styles start */

    .resume {
      h2 {
        font-size: 17px;
        margin: 10px 0;
      }

      h5 {
        margin: 0;
      }

      p {
        margin: 8px 0;
      }

      .item {
        margin-bottom: 90px;
      }

      .greeting {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }

      .contacts {
        white-space: nowrap;
      }

      .avatar {
        max-width: 250px;
        max-height: 250px;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
}

/* Resume styles end */