@use "utils" as *;
@use "global" as *;

.untitled-page {
  &__main {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
  &__section1 {
    display: flex;
    flex-direction: column;
  }
  &__flex_col {
    display: flex;
    flex-direction: column;
    gap: 70px 0px;
    margin: 3300px auto 52px;
    width: 81.3%;
  }
  &__flex_row {
    align-items: center;
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    margin: 0px 0px 0px 21.65%;
    width: 684px;
  }
  &__image4 {
    height: 50px;
    width: 50px;
  }
  &__hero_title2 {
    color: rgb(0, 0, 0);
    font: 700 50px/1.39 "Roboto Condensed", Helvetica, Arial, serif;
    letter-spacing: 2.5px;
  }
  &__flex_col1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 109px 0px;
  }
  &__flex_row1 {
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    width: 98.14%;
  }
  &__flex_col2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    width: 888px;
  }
  &__hero_title3 {
    color: rgb(0, 0, 0);
    font: 400 40px/1.14 "Roboto", Helvetica, Arial, serif;
  }
  &__medium_title {
    color: rgb(0, 0, 0);
    font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
    letter-spacing: 1.25px;
  }
  &__content_box {
    background: var(--src) center center / 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    margin: 108px 0px 53px;
    padding: 50px 46px 50px 54px;
    width: 525px;
  }
  &__image2 {
    height: 100%;
    width: 100%;
  }
  &__flex_row2 {
    align-items: center;
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    width: 100%;
  }
  &__content_box1 {
    background: var(--src) center center / 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 50px;
    width: 525px;
  }
  &__flex_col3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 818px;
  }
  &__hero_title31 {
    color: rgb(0, 0, 0);
    display: flex;
    font: 400 40px/1.14 "Roboto", Helvetica, Arial, serif;
    justify-content: flex-end;
    text-align: right;
    width: 61.86%;
  }
  &__section2 {
    display: flex;
    flex-direction: column;
  }
  &__flex_col4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 120px auto 30px;
    width: 83.91%;
  }
  &__flex_row3 {
    align-items: center;
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    width: 95.34%;
  }
  &__flex_col5 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 869px;
  }
  &__hero_title32 {
    color: rgb(0, 0, 0);
    font: 400 40px/1.14 "Roboto", Helvetica, Arial, serif;
    width: 56.5%;
  }
  &__content_box2 {
    background: var(--src) center center / 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    padding: 46px 54px 54px 46px;
    width: 525px;
  }
  &__flex_row4 {
    align-items: center;
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    margin: 182px 0px 0px;
    width: 100%;
  }
  &__flex_col6 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
    width: 886px;
  }
  &__flex_row5 {
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    margin: 220px 0px 0px;
    width: 93.05%;
  }
  &__content_box3 {
    background: var(--src) center center / 100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    margin: 83px 0px 18px;
    padding: 50px 54px 50px 46px;
    width: 525px;
  }
  &__section3 {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 2171px;
  }
  &__flex_col7 {
    display: flex;
    flex-direction: column;
    margin: 38px auto 130px;
    width: 79.58%;
  }
  &__title {
    color: rgb(0, 0, 0);
    display: flex;
    font: 400 30px/1.36 "Helvetica", Helvetica, Arial, serif;
    justify-content: center;
    margin: 0px 0px 0px 17.7%;
    text-align: center;
    width: 79px;
  }
  &__image41 {
    height: 50px;
    margin: 0px 0px 0px 11.13%;
    width: 50px;
  }
  &__rect1 {
    background-color: rgb(0, 0, 0);
    margin: 0px 18.85% 0px auto;
    min-height: 3px;
    width: 845px;
  }
  &__rect2 {
    background-color: rgb(0, 0, 0);
    min-height: 3px;
    width: 118px;
  }
  &__flex_col8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 98px 0px;
    margin: 65px auto 0px;
    width: 93.13%;
  }
  &__flex_row6 {
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    width: 97.68%;
  }
  &__image3 {
    margin: 0px 0px 20px;
    width: 427px;
  }
  &__flex_col9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 51px 0px 0px;
    width: 793px;
  }
  &__hero_title33 {
    color: rgb(0, 0, 0);
    display: flex;
    font: 400 40px/1.14 "Roboto", Helvetica, Arial, serif;
    justify-content: center;
    letter-spacing: 0.4px;
    text-align: center;
  }
  &__medium_title1 {
    color: rgb(0, 0, 0);
    font: 400 25px/1.39 "Montserrat", Helvetica, Arial, serif;
    letter-spacing: 1.25px;
    text-align: justify;
  }
  &__flex_row7 {
    display: flex;
    gap: 0px 10px;
    justify-content: space-between;
    width: 100%;
  }
  &__flex_col10 {
    display: flex;
    flex-direction: column;
    gap: 24px 0px;
    margin: 43px 0px 0px;
    width: 673px;
  }
  &__hero_title4 {
    color: rgb(0, 0, 0);
    display: flex;
    font: 400 40px/1.39 "Roboto", Helvetica, Arial, serif;
    justify-content: center;
    margin: 0px 0px 0px 26.75%;
    text-align: center;
    width: 219px;
  }
  &__image21 {
    margin: 0px 0px 48px;
    width: 425px;
  }
}
