<div class="container" id="container">
    <form>
        <div class="logo">
            <a href="#" class="homePage">FunTrip</a>
            <a href="#" class="project-info">О поекте</a>
        </div>
    </form>
    <div class="form-container">
        <div class="form-container_1">
            <h1>Построить маршрут самостоятельно</h1>
            <h2>Мы покажем самые популярные и красивые места Беларуси. Расскажем где лучше всего остановиться и вкусно поесть</h2>
        </div>
        <div class="form-container_2">
            <h1>Попросить построить маршрут</h1>
            <h2>Поможем выбрать лучший маршрут, что бы вы точно ничего не пропустили  </h2>
        </div>
    </div>
    <form>
        <div class="button">
            <button [routerLink]="['/regions']">Показать</button>
            <button type="submit" formaction="#">Показать</button>
        </div>
    </form>
</div>

<!-- <button [routerLink]="['/regions']">Я знаю куда поехать</button> -->