<div class="brest root">
    <div class="grid">
        <div class="group">
            <img class="decorator" src="./foto/Mogilev/Задний фон 6.png" alt="alt text" />
            <div class="item">
                <div class="content_box12">
                    <div class="content_box11" style="--src:url(../foto/Mogilev/Fon_1.png)"></div>
                    <div class="flex_row">
                        <div class="content_box8" style="--src:url(../assets/white_cathedral_in_leafy_setting.png)">
                            <div class="content_box5">
                                <h2 class="medium_title1">ПОЛОЦК</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/white_church_with_red_roof.png)">
                            <div class="content_box5">
                                <h2 class="medium_title11">ОРША</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/cathedral_with_golden_domes.png)">
                            <div class="content_box5">
                                <h2 class="medium_title11">ГЛУБОКОЕ</h2>
                            </div>
                        </div>
                        <div class="content_box8" style="--src:url(../assets/brick_church_reflection_in_water.png)">
                            <div class="content_box5">
                                <h2 class="medium_title13">ПОСТАВЫ</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex_col1">
                    <div class="flex_col2">
                        <div class="flex_col3">
                            <div class="flex_row1">
                                <img class="image1" src="./assets/landscape_painting_in_gallery_icon.png" alt="alt text" />
                                <h1 class="hero_title3">Размещение</h1>
                            </div>
                            <div class="flex_col4">
                                <div class="flex_row2">
                                    <div class="flex_col5">
                                        <h1 class="title">Отель “Atrium”</h1>
                                        <h2 class="medium_title">
                                            Отель «Hotel Atrium» находится в белорусском городе Могилев, в 0,1 км от стадиона «Спартак». Отдыхающим предоставляется 
                                            следующее: бесплатный wi-fi, круглосуточная стойка регистрации, камеры для хранения багажа. Насладиться атмосферой и 
                                            вкусно поесть гости смогут в ресторане «Grand Savoy» на территории. Кафе «Smile Coffee» расположено внутри отеля. 
                                            Продуктовый магазин «Александрийское» работает в здании напротив от объекта размещения.</h2>
                                    </div>
                                    <img class="image5" src="./foto/Mogilev/Фото г.1..png" alt="alt text" />
                                </div>
                                <div class="flex_row3">
                                    <img class="image5" src="./foto/Mogilev/Фото г.2..png" alt="alt text" />
                                    <div class="flex_col6">
                                        <h1 class="title1">Гостиница “Турист”</h1>
                                        <h2 class="medium_title">
                                            Гостиница «Турист» находится в двух км от центра города Могилев. Для гостей предоставляется множество услуг, которые сделают 
                                            Ваш отдых наиболее комфортным. Она включает в себя 141 номер, обустроенный в классическом стиле и оснащенный всем необходимым, 
                                            что может понадобиться для приятного и запоминающегося проживания: двуспальные кровати, современная техника и собственная ванная 
                                            комната. Ресторан, выполненный в белом цвете, рассказывает нам о классической роскоши. Именно здесь будет приятно попить вечером 
                                            вина и отведать вкусного салата с Вашей парой или в компании друзей.
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex_col7">
                            <h1 class="hero_title31">Достопримечательности</h1>
                            <div class="flex_row4">
                                <div class="flex_col8">
                                    <h1 class="title">Ратуша</h1>
                                    <h2 class="medium_title">
                                        В центре города, на площади Свободы, стоит здание, ставшее визитной карточкой Могилева. Городскую ратушу часто изображают на 
                                        открытках и других сувенирах. Белоснежная восьмигранная башня с красной крышей выделяется среди прочих строений.Первое деревянное 
                                        сооружение возвели в 1578 году. Спустя ровно сто лет началось строительство кирпичной ратуши. Великолепное творение выстояло в 
                                        годы Великой Отечественной войны, но было сильно повреждено. В 1957 году местные власти решили, что башня не подлежит восстановлению 
                                        и снесли ветхую постройку. В 2008 году город украсила точная копия старой ратуши. В настоящее время в здании разместился музей. 
                                        Посетители могут подняться на смотровую площадку под самой крышей и обозреть окрестности. Часы на башне звонят каждый час.                                        </h2>
                                </div>
                                <img class="image4" src="./foto/Mogilev/Изображение д.1..png" alt="alt text" />
                            </div>
                            <div class="flex_row5">
                                <img class="image3" src="./foto/Mogilev/Изображение д.2..png" alt="alt text" />
                                <div class="flex_col9">
                                    <h1 class="title">Буйничское поле</h1>
                                    <h2 class="medium_title">
                                        В 7 км от Могилева находится печально известная деревня Буйничи. В самом начале Великой Отечественной войны в окрестностях 
                                        села проходили ожесточенные бои за Могилев, прославившие мужество и стойкость белорусских защитников. В наши дни на поле открыт 
                                        обширный мемориальный комплекс. На территории мемориала установлен памятник с именами погибших воинов, чьи останки покоятся в 
                                        братской могиле. В центре комплекса на небольшом возвышении построен храм-часовня, где поминают всех павших на фронтах Великой 
                                        Отечественной войны. Рядом с храмом стоит военная техника. Позади часовни находится водоем с символическим названием озеро Слез. 
                                        Вокруг посажены аллеи, одна из которых носит имя К. Симонова. На именной аллее стоит памятный камень в честь знаменитого писателя.
                                    </h2>
                                </div>
                            </div>
                            <div class="flex_row6">
                                <div class="flex_col9">
                                    <h1 class="title2">Зоосад</h1>
                                    <h2 class="medium_title">
                                        В нескольких километрах от Могилева раскинулся просторный Зоосад. Парк для животных был открыт на базе местного колледжа и 
                                        предназначался для подготовки будущих егерей. На территории в сотню гектаров обитают как типичные для этих широт звери, так 
                                        и более экзотические животные – кабаны, медведи, зубры, лоси, страусы, рыси и многие другие. Рядом с озерами обитают дикие утки 
                                        и прекрасные белые лебеди. Могилевский зоосад имеет особенности, отличающие его от других зоопарков. Во-первых, животные обитают 
                                        вне клеток, в естественной среде. Во-вторых, тут работает лечебница для больных и раненых зверей. В-третьих, помимо обычной 
                                        пешей прогулки, туристам предлагается необычная услуга: посетителей возят по территории на небольшом паровозе. Платная экскурсия 
                                        называется «Сафари» и вызывает бурный восторг как у детей, так и у взрослых.
                                    </h2>
                                </div>
                                <img class="cover2" src="./foto/Mogilev/Изображение д.3..png" alt="alt text" />
                            </div>
                            <div class="flex_row6">
                                <img class="image2" src="./foto/Mogilev/Изображение д.4..png" alt="alt text" />
                                <div class="flex_col10">
                                    <h1 class="title">Драматический театр</h1>
                                    <h2 class="medium_title">
                                        Огромное красное здание сразу привлекает внимание гостей города. Прекрасный памятник архитектуры был создан в конце 19 
                                        столетия на деньги местных жителей. Актерский состав театра часто менялся. Лишь в 1928 году стараниями режиссера В. 
                                        Кумельского образовалась постоянная труппа из московских актеров. Через четыре года драматический театр получил статус 
                                        государственного. В военные годы город сильно пострадал от вражеской армии. В 1947 году актеров перевели в столицу, 
                                        Минск – на семь лет строение оказалось заброшенным. В 1954 году в здание переехала труппа из Пинска, которая возродила 
                                        театральную жизнь Могилева. Спустя полвека театр отремонтировали, и на его ступенях появился один из самых любимых театральных 
                                        персонажей – бронзовая Дама с собачкой.
                                    </h2>
                                </div>
                            </div>
                            <div class="flex_row6">
                                <div class="flex_col11">
                                    <h1 class="title3">Площадь звёзд</h1>
                                    <h2 class="medium_title">
                                        Площадь звезд находится в историческом центре Могилева. Появилась она в 2004 году и является оригинальным украшением города.
                                        В центре расположена композиция «Звездочет», выполненная по проекту известного белорусского скульптора Владимира Жбанова. На 
                                        высоком стуле сидит задумчивый звездочет и указывает пальцем в небо. Рядом с ним стоит телескоп, который представляет собой 
                                        стрелку-указатель солнечных часов. Вокруг памятника – 12 стульев, каждый из которых соответствует определенному знаку зодиака.
                                        Одновременно площадь является местной «аллеей славы», так как здесь увековечены имена почетных граждан Могилевщины, среди них 
                                        спортсмены, музыканты, ученые. Каждый год список пополняется несколькими именами.
                                </div>
                                <img class="cover2" src="./foto/Mogilev/Изображение д.5..png" alt="alt text" />
                            </div>
                        </div>
                    </div>
                    <div class="content_box2" style="--src:url(../assets/14dd9fd9c669d8caaba060725e5f06fb.png)">
                        <div class="flex_col12">
                            <div class="flex_row7">
                                <div class="content_box" style="--src:url(../assets/fb3f3ccef198a1dcce658e9a95118027.png)">
                                    <img class="image" src="./foto/Mogilev/Group 5.png" alt="alt text" />
                                </div>
                                <div class="flex_col13">
                                    <h1 class="title4">Кафе «Ван Гог»</h1>
                                    <h2 class="medium_title2">
                                        Кафе-бистро «Ван Гог» - это утончённое, концептуальное заведение, призванное окунуть своих гостей в атмосферу абсолютного гостеприимства! 
                                        Будто кистью самого художника был создан образ этого места! В кафе звучит непринуждённая, лёгкая музыка, которая дополнит времяпрепровождение 
                                        гостей за вкусными блюдами в оригинальном исполнении по демократичным ценам.</h2>
                                </div>
                            </div>
                            <div class="flex_row3">
                                <div class="flex_col14">
                                    <h1 class="title5">Бар «ИZЮМ»</h1>
                                    <h2 class="medium_title2">
                                        Бар «ИZЮМ» приглашает в гости любителей ночных встреч и тусовок. Здесь можно встретиться с друзьями, расслабиться после суматошного рабочего 
                                        дня под аккомпанемент модной и стильной музыки. Бар «ИZЮМ» расположен в центре города на улице Первомайской, в здании известной могилевской 
                                        «Китайской стены». Каждые четверг и воскресенье в баре играет блюз и джаз. По пятницам и субботам проводятся вечеринки. Музыкальные направления 
                                        бара — House, Deep House, блюз, джаз.</h2>
                                </div>
                                <div class="content_box" style="--src:url(../assets/fb3f3ccef198a1dcce658e9a95118027.png)">
                                    <img class="image" src="./foto/Mogilev/Group 6.png" alt="alt text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rect"></div>
    <img class="image11" src="./assets/camera_icon_with_mountains.png" alt="alt text" />
</div>
